<div class="atHeader">
    <div class="headerProduct">
        <span class="logo">
            <a><img src="/public/img/opennwtb_logo_black.png" alt="NWTB Platform Logo" height="75px"></a>
        </span>
        <span class="product">
            <h2>{{ title }}</h2>
        </span>
    </div>
</div>