<div class="atPage" id="loading">
    <div class="lottieWrap">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
        <dotlottie-player src="https://lottie.host/b43ae2d3-d0bd-4bb2-bac9-a5510728d01d/b6YierUVah.lottie" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
    </div>
</div>