/*
 *
 * FONTS
 *
*/

@font-face {
    font-family: 'Protest Riot';
    src: url('/public/font/ProtestRiot.woff2') format('woff2');
}

@font-face {
    font-family: 'Diamond Grotesk';
    src: url('/public/font/DiamondGrotesk.woff2') format('woff2');
}

/*
 * Exchange
 */

:root {
    --light: #f6f6f6;
    --normal: #d1d1d1;
    --medium: #b0b0b0;
    --dark: #000000;

    --font1: 'Protest Riot', sans-serif;
    --font2: 'Diamond Grotesk', sans-serif;
}