---
title: Logging out...
layout: layouts/modern/base-account.njk
permalink: /logout/
---

<div class="outer account">
    {% include "../_includes/layouts/modern/parts/header-dynamic.njk" %}
    {% include "../_includes/layouts/modern/loading/loading-app.njk" %}
    {% include "../_includes/layouts/modern/parts/footer.njk" %}
</div>
<script src="/public/scripts/auth-module.js" type="module"></script>
<script src="/public/scripts/auth-account.js" type="module"></script>